.search-container{
    width: 1250px;
    height: 270px;
    background: #E6F7FF;
    border-radius: 16px;
    margin-left: 90px;
    margin-top: 55px;
    
}
.search-container-box{
    padding-left:95px;
    padding-top: 50px;

    
}
.search-container-title{
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    height: 45px;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
}
.search-container-text{
    color: #000;
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 680px;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
 
    
}

.search-container-btn-find{
    padding-top: 25px;
}